.idea/
*.pyc
replays/
venv/
/**/generated/**/*.py
output
.env
.coverage
*.iml
build/
carball.egg*
dist/
*ipynb*

!/carball/tests/replays/
.vscode

carball/generated/binaries/protoc
env/
protobuf-3.19.4/